
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC3Yc9vDGze1j2cxNzmnJe1vRu66iI9NhI&signed_in=true">
</script>
<script type="text/javascript">
    google.maps.event.addDomListener(window, "load", initMap);
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map_canvas'), {
            zoom: 11,
            center: { lat: 41.876, lng: -87.624 }
        });

        var ctaLayer = new google.maps.KmlLayer({
            url: 'http://earthquake.usgs.gov/fdsnws/event/1/query?format=kml&starttime=2016-06-05&endtime=2016-06-07',
            map: map
        });
    }

</script>

<!-- This css is to give a nice big popup "info window" when a marker is clicked on the map -->
<style>
    .infoDiv {
        height: 200px;
        width: 300px;
        -webkit-user-select: none;
        background-color: white;
    }
</style>
<br />
<!-- This is the div that will contain the Google Map -->
<div id="map_canvas" style="height: 550px;"></div>

  



   

   