@if ((Session["ProfileData"] as Tweetinvi.Models.IAuthenticatedUser) != null)
{


    <ul class="nav navbar-nav navbar-right" >
        <li style="margin-top: 5vh; color: gray;">
           @((Session["ProfileData"] as Tweetinvi.Models.IAuthenticatedUser) != null ? (Session["ProfileData"] as Tweetinvi.Models.IAuthenticatedUser).ScreenName : "")        
        </li>
        <li>@Html.ActionLink("Logout", "Logout", "Home")</li>

    </ul>
    
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar sesión", "TwitterAuth", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
