@*@if (Request.IsAuthenticated)
{*@


    <ul class="nav navbar-nav navbar-right">
        <li>
            Hola @ViewBag.user
        </li>
    </ul>
    
@*}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Iniciar sesión", "TwitterAuth", "Home", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}*@
